.introduction__container {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 5%;
  padding: 2rem;
  border-radius: 16px 0 0 16px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.text__container {
  text-align: justify;
  font-size: clamp(1rem, 1.2rem, 2rem); 
 
}

.text__container p {
  display: flex;
  align-items: center;
  justify-content: center;

}

.image__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.intro__image {
  width: 500px;
  border-radius: 16px;
}