.portfolio__container {
  display: flex;
  justify-content: space-around;
  gap: 10%;
}

.portfolio__intro {
  width: 40%;
}

.portfolio__intro .title {
  font-size: 30px;
  margin-bottom: 2rem;
}

.portfolio__intro .general {
  font-size: 20px;
  margin-bottom: 3rem;
}

.portfolio__carousel {
  position: relative;
}

.carousel__text__container {
  position: absolute;
  top: 50%;
  left: 30%;
  letter-spacing: 10px;
}

.portfolio__carousel__detail {
  height: 30rem;
}

.portfolio__carousel__detail .title {
  font-size: 24px;
  opacity: 1;
  transition: all 0.5s;
  margin-bottom: 1rem;
}

.portfolio__carousel__detail .title.hide{
  opacity: 0;
}

.portfolio__carousel__detail .detail {
  font-size: 20px;
  opacity: 1;
  transition: all 0.5s;
}

.portfolio__carousel__detail .detail.hide{
  opacity: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.healthy, .consultation, .examination{
  stroke: var(--color-primary-alter);
  animation: shadowing .5s alternate forwards;
}

.icon_background , #circle-left, #circle-right-bottom, #circle-right-up {
  stroke: var(--color-primary-alter);
  stroke-width: 3;
}

.icon_background {
  fill: transparent;
  stroke: transparent;
}

.healthy.active , .consultation.active, .examination.active {
  
  animation: lightning .5s alternate forwards;
}

.healthy:hover , .consultation:hover, .examination:hover, .icon_background:hover {
  cursor: pointer;
}

@keyframes lightning {
  0% { stroke:var(--color-primary-alter) }
  100% { stroke: var(--color-primary-variant); 
    filter: drop-shadow(0px 0px 3px var(--color-primary-variant));
  }
}

@keyframes shadowing {
  0% { stroke: var(--color-primary-variant); }
  100% { stroke: var(--color-primary-alter); }
}
